@use "../utilities/variables";

//CARD INDEX//
.art_card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.card {
    border-style: solid;
    color: variables.$color-parrafo;
    max-width: 18rem;
    .card-img-top{
        border-radius: 10%;
    }
}
    .card-body{
            background-image: url(variables.$cardbody-background-image);
            .card-title{
                font-family:variables.$font-titulos;
                text-align: center;
                color: variables.$color-secundario;
            }
        }

//CARD CONTACTO//
.card-titlecontacto{
    color: variables.$color-secundario ;
    font-family:variables.$font-titulos;
    text-align: center;
}
.cardcontacto{
    background-image: url(../imagenes/ImgContenido/Cromo2.jpeg);
    align-items: center;
}
.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
