@use "../utilities/variables";
@use "../utilities/mixins";

h1 {
    @include mixins.title (variables.$color-primario, variables.$font-titulos);
    font-size: 48px;
    @extend .texto-centrado;  
    border-style: solid ;
    border-color: variables.$color-primario;
    padding: 10px;
    margin-bottom: 20px; 
}
h2{
    @include mixins.title (variables.$color-secundario, variables.$font-titulos);
    @extend .texto-centrado;
    text-decoration: underline;  
}
h3{
    @include mixins.title (variables.$color-terciario, variables.$font-titulos);
    text-decoration: underline;
    @extend .texto-centrado;    
}
h4{
    @include mixins.title (variables.$color-secundario, variables.$font-titulos);
    text-align: center;
}
.ulindex{
    @include mixins.title (variables.$color-parrafo, variables.$font-principal);   
}
p {
    @include mixins.title (variables.$color-parrafo, variables.$font-principal);
    font-size: 1rem;
}
.pindex{
    text-align: center;
}
.sectionpp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.lipp{
    @extend .licontacto;
    @extend .texto-centrado;
}
.imgprofesional {
    border-radius: 20%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.profesional-section{
    display: flex;
    justify-content: center;
}
.imgcarrusel{
    max-height: 400px;
}
.pdiv{
    font-style: italic;
    font-size: 1.1rem;
}
.importand{
    background-color: variables.$color-backliso;
    border-style: solid;
    border-color: variables.$color-secundario;
    font-weight: bold;
    @extend .texto-centrado;
}
.texto-centrado{
    text-align: center;
}
.ulcontacto{
    @extend .texto-centrado;
}
.licontacto{
    list-style-type: none;
}
.dicontacto{
    display: flex;
    flex-direction: column;
}
.iframe{
    max-height: 400px;
}