//MIXIN PARA BOTONES//
@mixin btn-mas-info ($color, $background, $font-family) {
color: $color;
background-color: $background;
font-family: $font-family;
}

//MIXIN PARA TITULOS//
@mixin title ($color, $font-family,) {
color: $color;
font-family: $font-family;
}