//FUENTES
$font-principal: "Nunito", sans-serif; //Fuente para parrafos y texto principal
$font-titulos: "Questrial", sans-serif;  //Fuente para los titulos

//COLORES
$color-primario: rgb(21, 141, 181);
$color-secundario: rgb(244, 86, 123);
$color-parrafo: black;
$color-btn:white;
$color-terciario: rgb(98, 192, 98);
$color-backliso: rgb(252, 217, 76);

//BACKGROUNDS
$navbar-background-image: "../imagenes/ImgContenido/navbar.jpeg";
$cardbody-background-image: "../imagenes/ImgContenido/Cromo2.jpeg";