/*Fuente Nunito/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&display=swap');
/* font-family: "Questrial", sans-serif;*/
/* font-family: "Nunito", sans-serif;*/
* {
  margin: 0;
  padding: 0;
}
.navbar{
    padding: 1rem;
    background-image: url(../imagenes/ImgContenido/navbar.jpeg) ;
    background-size: cover;
    background-position: center;
} 
.imghome {
    width: 64px;
    height: 64px;
}   
.navbar-nav {
    margin-left: auto;
}
h1 {
    color: rgb(21, 141, 181);
    font-family: "Questrial", sans-serif;
    font-size: 48px;
    text-align: center;   
    border-style: solid ;
    border-color: rgb(21, 141, 181);
    padding: 30px;
}
p {
    color: black;
    font-family:"Nunito", sans-serif;
    font-size: 1rem;
    padding: 2fr; 
}
.imgnavbar{
    width:20rem;
}
.ulindex{
    color: black;
    font-family:"Nunito", sans-serif;
    font-size: 1rem;
    padding: 2fr;
}
.ulcontacto {
    list-style-type: none;
}
.card-body{
    background-image: url(../imagenes/ImgContenido/Cromo2.jpeg);
}
.card-text{
    color: black;
    font-family:"Nunito", sans-serif;
    font-size: 1rem;
}
h2{
    color: rgb(244, 86, 123) ;
    font-family:"Questrial", sans-serif;
    text-align: center;
}
h3{
    text-decoration: underline;
    font-family:"Questrial", sans-serif;
    
}
h4{
    color: rgb(244, 86, 123) ;
    font-family:"Questrial", sans-serif;
    text-align: start;
}

.importand{
    background-color: rgb(252, 217, 76);
    text-align: center;
    border-style: solid;
    border-color: rgb(244, 86, 123);
    font-weight: bold;
}
.card {
    border-style: solid;
    color: black;
    width: 18rem;
} 
.art_card{
    display: flex;
    flex-direction: row;
    row-gap: 4vh;
    padding: 50px;
    align-items: center;
}
.btn {
    background-color: rgb(21, 141, 181);
    border-radius: 5px ;
    font-family: "Questrial", sans-serif;
}
.bi{
    color: rgb(246, 130, 130);
    font-family:"Questrial", sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
  
.list-group-item{
    background-image:url(../imagenes/ImgContenido/Cromo2.jpeg);
}
.imgprevencion {
    height: 100vh;
    width: 100vh;
}
.pdiv{
    font-style: italic;
}
.card-titlecontacto{
    color: rgb(244, 86, 123) ;
    font-family:"Questrial", sans-serif;
    text-align: center;
}
.map-iframe {
    width: 100vh;
    height: 100vh;
}
.formcontacto {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70vh;
    height: 70vh;
    justify-content: center;
}
.sectionpp {
    display: flex;
    flex-direction: row-reverse;
}
.cardcontacto{
  background-image: url(../imagenes/ImgContenido/Cromo2.jpeg);
}
.card-title{
    font-family:"Questrial", sans-serif;
    text-align: center;
}