* {
  margin: 0;
  padding: 0;
}

/*Fuente Nunito/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&display=swap');
/* font-family: "Questrial", sans-serif;*/
/* font-family: "Nunito", sans-serif;*/
.navbar {
  padding: 1rem;
  background-image: url("../imagenes/ImgContenido/navbar.jpeg");
  background-size: cover;
  background-position: center;
}
.navbar .container-fluid .imgnavbar {
  width: 20rem;
}
.navbar .container-fluid .imghome {
  width: 64px;
  height: 64px;
}

.nav-link {
  font-family: "Questrial", sans-serif;
  color: black;
}

h1 {
  color: rgb(21, 141, 181);
  font-family: "Questrial", sans-serif;
  font-size: 48px;
  border-style: solid;
  border-color: rgb(21, 141, 181);
  padding: 30px;
}

h2 {
  color: rgb(244, 86, 123);
  font-family: "Questrial", sans-serif;
  text-decoration: underline;
}

h3 {
  color: rgb(98, 192, 98);
  font-family: "Questrial", sans-serif;
  text-decoration: underline;
}

h4 {
  color: rgb(244, 86, 123);
  font-family: "Questrial", sans-serif;
  text-align: start;
}

.ulindex {
  color: black;
  font-family: "Nunito", sans-serif;
}

p {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.sectionpp {
  display: flex;
  flex-direction: row-reverse;
}

.imgprofesional {
  border-radius: 20%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.pdiv {
  font-style: italic;
  font-size: 1.1rem;
}

.map-iframe {
  width: 50vh;
  height: 50vh;
}

.importand {
  background-color: rgb(252, 217, 76);
  text-align: center;
  border-style: solid;
  border-color: rgb(244, 86, 123);
  font-weight: bold;
}

.texto-centrado, h1, h2 {
  text-align: center;
}

.carousel-inner {
  height: 450px;
}

.ulcontacto {
  text-align: center;
}

.licontacto {
  list-style-type: none;
}

.dicontacto {
  display: flex;
  flex-direction: column;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.marcaregistrada {
  height: 120px;
  font-weight: 120px;
}

.art_card {
  row-gap: 4vh;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.card {
  border-style: solid;
  color: black;
  width: 18rem;
}
.card .card-img-top {
  border-radius: 10%;
}

.card-body {
  background-image: url("../imagenes/ImgContenido/Cromo2.jpeg");
}
.card-body .card-title {
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: rgb(244, 86, 123);
}

.card-titlecontacto {
  color: rgb(244, 86, 123);
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.cardcontacto {
  background-image: url(../imagenes/ImgContenido/Cromo2.jpeg);
  align-items: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: white;
  background-color: rgb(21, 141, 181);
  font-family: "Questrial", sans-serif;
  border-radius: 5px;
}
.btn:hover {
  color: rgb(244, 86, 123);
  background-color: white;
  border-color: rgb(244, 86, 123);
}

/*# sourceMappingURL=styles.css.map */
